/* styles.css */

/* Add styles here to customize the appearance of your app */

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: darkgray;
}

.app {
  padding: 15px;
  text-align: center;
}
